* {
  color: #f2f2f2;
}

body, html {
  height: 100%;
}

#headerDiv {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 10%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111c14+0,1c1c1c+100 */
  background: #111c14; /* Old browsers */
  background: -moz-linear-gradient(top,  #111c14 0%, #1c1c1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111c14), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #111c14 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #111c14 0%,#1c1c1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #111c14 0%,#1c1c1c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #111c14 0%,#1c1c1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111c14', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */


}

#webbitTitle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline;

  left: 2%;
  top: 20%;
}

#appDiv {
  user-select: none;
  height: 80%;
  position: relative;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+6,1c1c1c+7,494949+100 */
  background: #1c1c1c; /* Old browsers */
  background: -moz-linear-gradient(top,  #1c1c1c 6%, #1c1c1c 7%, #494949 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#1c1c1c), color-stop(7%,#1c1c1c), color-stop(100%,#494949)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1c1c1c 6%,#1c1c1c 7%,#494949 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1c1c1c 6%,#1c1c1c 7%,#494949 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1c1c1c 6%,#1c1c1c 7%,#494949 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1c1c1c 6%,#1c1c1c 7%,#494949 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
}

#footerDiv {

  user-select: none;
  position: relative;
  overflow: hidden;
  height: 10%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#494949+0,000000+100 */
  background: #494949; /* Old browsers */
  background: -moz-linear-gradient(top,  #494949 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #494949 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #494949 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #494949 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #494949 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#console {

  width: 105%;
  height: 100%;
  display: inline;
  position: absolute;
  overflow: auto;
}

.webbit-edge {

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;

  position: absolute;
  display: inline;

  border-width: 1px;
  border-color: white;
  border-style: solid;

  /* the position of the 'left end' (at 0 rotation) of the edge */
  left: 0;
  height: 0;

  height: 0px;

  /* the length of the edge */
  width: 100px;

  clip-path: polygon(0px 0px, 0px 10px, 50px 10px, 50px 0px);

  box-shadow: 0px 0px 8px 0px #AAAAAA;
}

#testEdge {
  clip-path: circle(15px at 20px 0px);
}

.webbit-node {

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;

  position: absolute;
  display:inline;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  background-color: #222222;
  opacity: 0.8;

  overflow: hidden;

  max-width: 80px;
  max-height: 50px;

  text-align: left;

  box-shadow: 0px 0px 8px 0px #AAAAAA;
}

.webbit-node-hover {

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;

  position: absolute;
  display:inline;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  background-color: #343434;
  opacity: 0.8;

  max-width: 200px;

  text-align: left;

  cursor: pointer;

  box-shadow: 0px 0px 14px 0px #AAAAAA;
}

.webbit-node-full {

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  z-index: 4;
  position: absolute;
  opacity: 0.9;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: #222222;
  display: inline;

  overflow: auto;
  word-wrap: break-word;

  max-height: 80%;
  max-width: 90%;

}
