<!DOCTYPE html>
<html ng-app="webbitClient">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
  </head>

  <body>

    <div id="headerDiv">
       <h1 id="webbitTitle">Webbit</h1>
    </div>

    <div id="appDiv" ng-controller="WebbitController as webbitCtrl">

      <div ng-repeat="webbitNode in webbitCtrl.graphData"
      class="webbit-node"
      id="node-{{webbitNode.id}}"
      ng-style="{ left: {{webbitNode.id * 80 - 20}}, top: {{webbitNode.id * 80 - 20}} }">{{webbitNode.text}}</div>

    </div>

    <div id="footerDiv" > </div>

  </body>
</html>
